<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		<section name="DteSettings" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
    <connectionStrings>
        <add name="GoDentalAPP.Properties.Settings.Cconexion" connectionString="Data Source=LDB-N5\SQLEXPRESS;Initial Catalog=DepositoDental;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<DteSettings>
		<add key="ApiUrl" value="https://api.mh.gob.sv"/>
		<add key="Nit" value="TU_NIT"/>
		<add key="Nrc" value="TU_NRC"/>
		<add key="Usuario" value="tu_usuario"/>
		<add key="Clave" value="tu_clave"/>
		<add key="NombreEmpresa" value="Tu Empresa"/>
		<add key="CodigoActividad" value="TU_CODIGO"/>
	</DteSettings>
</configuration>