<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="GoDentalAPP.Properties.Settings.Cconexion" 
             connectionString="Data Source=LDB-N5\SQLEXPRESS;Initial Catalog=DepositoDental;Integrated Security=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="DteSettings.ApiUrl" value="https://factura.gob.sv"/>
        <add key="DteSettings.Nit" value="TU_NIT"/>
        <add key="DteSettings.Nrc" value="TU_NRC"/>
        <add key="DteSettings.Usuario" value="tu_usuario"/>
        <add key="DteSettings.Clave" value="tu_clave"/>
        <add key="DteSettings.NombreEmpresa" value="Tu Empresa"/>
        <add key="DteSettings.CodigoActividad" value="TU_CODIGO"/>
    </appSettings>
</configuration>