USE [master]
GO
/****** Object:  Database [DepositoDental]    Script Date: 22/4/2025 02:32:43 ******/
CREATE DATABASE [DepositoDental]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DepositoDental', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DepositoDental.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DepositoDental_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DepositoDental_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DepositoDental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DepositoDental]
GO
/****** Object:  UserDefinedTableType [dbo].[InsumosTableType]    Script Date: 22/4/2025 02:32:43 ******/
CREATE TYPE [dbo].[InsumosTableType] AS TABLE(
	[InsumoID] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitario] [decimal](10, 2) NULL
)
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[CorreoElectronico] [varchar](100) NULL,
	[Direccion] [varchar](255) NULL,
	[LinkDireccion] [varchar](255) NULL,
	[FechaRegistro] [datetime] NULL,
	[EstadoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[CompraID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
	[MontoTotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlVentasMensuales]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlVentasMensuales](
	[ControlID] [int] IDENTITY(1,1) NOT NULL,
	[Mes] [int] NOT NULL,
	[Anio] [int] NOT NULL,
	[TotalVentas] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ControlID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedidoProveedor]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedidoProveedor](
	[DetallePedidoID] [int] IDENTITY(1,1) NOT NULL,
	[PedidoID] [int] NULL,
	[InsumoID] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetallePedidoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[DetalleVentaID] [int] IDENTITY(1,1) NOT NULL,
	[VentaID] [int] NULL,
	[InsumoID] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleVentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[EstadoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[FacturaID] [int] IDENTITY(1,1) NOT NULL,
	[VentaID] [int] NULL,
	[FechaFactura] [datetime] NULL,
	[TotalFactura] [decimal](10, 2) NOT NULL,
	[NumeroFactura] [varchar](50) NOT NULL,
	[TipoPagoID] [int] NULL,
	[EstadoID] [int] NULL,
	[CodigoGeneracion] [uniqueidentifier] NULL,
	[TipoDte] [varchar](2) NULL,
	[SelloRecibido] [varchar](500) NULL,
	[NumeroControl] [varchar](50) NULL,
	[EstadoDte] [varchar](20) NULL,
	[JsonDte] [nvarchar](max) NULL,
	[PdfBase64] [varchar](max) NULL,
	[ClienteId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FacturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsumosDentales]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsumosDentales](
	[InsumoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreInsumo] [varchar](100) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[CantidadEnStock] [int] NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaVencimiento] [date] NULL,
	[ProveedorID] [int] NULL,
	[CategoriaID] [int] NULL,
	[CodigoBarras] [varchar](50) NULL,
	[TieneImpuesto] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InsumoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidosProveedores]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidosProveedores](
	[PedidoID] [int] IDENTITY(1,1) NOT NULL,
	[ProveedorID] [int] NULL,
	[FechaPedido] [datetime] NULL,
	[FechaEntrega] [datetime] NULL,
	[TotalPedido] [decimal](10, 2) NOT NULL,
	[UsuarioID] [int] NULL,
	[EstadoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PedidoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[ProveedorID] [int] IDENTITY(1,1) NOT NULL,
	[NombreProveedor] [varchar](100) NOT NULL,
	[Contacto] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
	[CorreoElectronico] [varchar](100) NULL,
	[Direccion] [varchar](255) NULL,
	[FechaRegistro] [datetime] NULL,
	[EstadoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProveedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeriesFacturacion]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeriesFacturacion](
	[SerieId] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [varchar](2) NOT NULL,
	[Serie] [varchar](10) NOT NULL,
	[NumeroActual] [int] NOT NULL,
	[Activa] [bit] NOT NULL,
 CONSTRAINT [PK_SeriesFacturacion] PRIMARY KEY CLUSTERED 
(
	[SerieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposPago]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposPago](
	[TipoPagoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipoPago] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoPagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[CorreoElectronico] [varchar](100) NOT NULL,
	[Contrasena] [varchar](255) NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[RolID] [int] NULL,
	[EstadoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[VentaID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NULL,
	[FechaVenta] [datetime] NULL,
	[TotalVenta] [decimal](10, 2) NOT NULL,
	[UsuarioID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clientes_CorreoElectronico]    Script Date: 22/4/2025 02:32:43 ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_CorreoElectronico] ON [dbo].[Clientes]
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InsumosDentales_CodigoBarras]    Script Date: 22/4/2025 02:32:43 ******/
CREATE NONCLUSTERED INDEX [IX_InsumosDentales_CodigoBarras] ON [dbo].[InsumosDentales]
(
	[CodigoBarras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InsumosDentales_NombreInsumo]    Script Date: 22/4/2025 02:32:43 ******/
CREATE NONCLUSTERED INDEX [IX_InsumosDentales_NombreInsumo] ON [dbo].[InsumosDentales]
(
	[NombreInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_FechaVenta]    Script Date: 22/4/2025 02:32:43 ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_FechaVenta] ON [dbo].[Ventas]
(
	[FechaVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [EstadoID]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [FechaCompra]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [FechaFactura]
GO
ALTER TABLE [dbo].[InsumosDentales] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[InsumosDentales] ADD  DEFAULT ((0)) FOR [TieneImpuesto]
GO
ALTER TABLE [dbo].[PedidosProveedores] ADD  DEFAULT (getdate()) FOR [FechaPedido]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Proveedores] ADD  CONSTRAINT [DF_Proveedores_EstadoID]  DEFAULT ((1)) FOR [EstadoID]
GO
ALTER TABLE [dbo].[SeriesFacturacion] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_EstadoID]  DEFAULT ((1)) FOR [EstadoID]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Estados] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estados] ([EstadoID])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Estados]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([ClienteID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetallePedidoProveedor]  WITH CHECK ADD FOREIGN KEY([InsumoID])
REFERENCES [dbo].[InsumosDentales] ([InsumoID])
GO
ALTER TABLE [dbo].[DetallePedidoProveedor]  WITH CHECK ADD FOREIGN KEY([PedidoID])
REFERENCES [dbo].[PedidosProveedores] ([PedidoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetallePedidoProveedor]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedidoProveedor_InsumosDentales] FOREIGN KEY([InsumoID])
REFERENCES [dbo].[InsumosDentales] ([InsumoID])
GO
ALTER TABLE [dbo].[DetallePedidoProveedor] CHECK CONSTRAINT [FK_DetallePedidoProveedor_InsumosDentales]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([InsumoID])
REFERENCES [dbo].[InsumosDentales] ([InsumoID])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([VentaID])
REFERENCES [dbo].[Ventas] ([VentaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_InsumosDentales] FOREIGN KEY([InsumoID])
REFERENCES [dbo].[InsumosDentales] ([InsumoID])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_InsumosDentales]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([VentaID])
REFERENCES [dbo].[Ventas] ([VentaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([ClienteID])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Factura_Cliente]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Estados] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estados] ([EstadoID])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Estados]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_TiposPago] FOREIGN KEY([TipoPagoID])
REFERENCES [dbo].[TiposPago] ([TipoPagoID])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_TiposPago]
GO
ALTER TABLE [dbo].[InsumosDentales]  WITH CHECK ADD FOREIGN KEY([ProveedorID])
REFERENCES [dbo].[Proveedores] ([ProveedorID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[InsumosDentales]  WITH CHECK ADD  CONSTRAINT [FK_InsumosDentales_Categorias] FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categorias] ([CategoriaID])
GO
ALTER TABLE [dbo].[InsumosDentales] CHECK CONSTRAINT [FK_InsumosDentales_Categorias]
GO
ALTER TABLE [dbo].[PedidosProveedores]  WITH CHECK ADD FOREIGN KEY([ProveedorID])
REFERENCES [dbo].[Proveedores] ([ProveedorID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PedidosProveedores]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PedidosProveedores]  WITH CHECK ADD  CONSTRAINT [FK_PedidosProveedores_Estados] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estados] ([EstadoID])
GO
ALTER TABLE [dbo].[PedidosProveedores] CHECK CONSTRAINT [FK_PedidosProveedores_Estados]
GO
ALTER TABLE [dbo].[Proveedores]  WITH CHECK ADD  CONSTRAINT [FK_Proveedores_Estados] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estados] ([EstadoID])
GO
ALTER TABLE [dbo].[Proveedores] CHECK CONSTRAINT [FK_Proveedores_Estados]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Estados] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estados] ([EstadoID])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Estados]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([ClienteID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
ON DELETE SET NULL
GO
/****** Object:  StoredProcedure [dbo].[AgregarProducto]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarProducto]
    @NombreInsumo VARCHAR(100),
    @Descripcion TEXT = NULL,
    @PrecioUnitario DECIMAL(10, 2),
    @CantidadEnStock INT,
    @FechaVencimiento DATE = NULL,
    @ProveedorID INT = NULL,
    @Categoria VARCHAR(50) = NULL
AS
BEGIN
    INSERT INTO [dbo].[InsumosDentales] (
        [NombreInsumo],
        [Descripcion],
        [PrecioUnitario],
        [CantidadEnStock],
        [FechaRegistro],
        [FechaVencimiento],
        [ProveedorID],
        [Categoria]
    )
    VALUES (
        @NombreInsumo,
        @Descripcion,
        @PrecioUnitario,
        @CantidadEnStock,
        GETDATE(),
        @FechaVencimiento,
        @ProveedorID,
        @Categoria
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[CancelarVenta]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CancelarVenta]
    @VentaID INT
AS
BEGIN
    -- Revertir la cantidad de insumos vendidos
    DECLARE @InsumoID INT, @Cantidad INT;

    DECLARE cur CURSOR FOR
    SELECT InsumoID, Cantidad
    FROM DetalleVenta
    WHERE VentaID = @VentaID;

    OPEN cur;
    FETCH NEXT FROM cur INTO @InsumoID, @Cantidad;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        UPDATE InsumosDentales
        SET CantidadEnStock = CantidadEnStock + @Cantidad
        WHERE InsumoID = @InsumoID;

        FETCH NEXT FROM cur INTO @InsumoID, @Cantidad;
    END;

    CLOSE cur;
    DEALLOCATE cur;

    -- Eliminar los detalles de la venta
    DELETE FROM DetalleVenta
    WHERE VentaID = @VentaID;

    -- Eliminar la venta
    DELETE FROM Ventas
    WHERE VentaID = @VentaID;
END;
GO
/****** Object:  StoredProcedure [dbo].[DesactivarCliente]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[DesactivarCliente]
    @ClienteID INT,
    @MotivoInactivacion VARCHAR(255)
AS
BEGIN
    -- Verificar si el cliente existe y está activo
    IF NOT EXISTS (SELECT 1 FROM [dbo].[Clientes] WHERE [ClienteID] = @ClienteID AND [Estado] = 1)
    BEGIN
        RAISERROR ('El cliente no existe o ya está inactivo.', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION;
    
    -- Insertar en la tabla de inactivos
    INSERT INTO [dbo].[ClientesInactivos] (
        [ClienteID],
        [MotivoInactivacion]
    )
    VALUES (
        @ClienteID,
        @MotivoInactivacion
    );

    -- Actualizar estado en la tabla principal
    UPDATE [dbo].[Clientes]
    SET [Estado] = 0
    WHERE [ClienteID] = @ClienteID;

    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[EditarCliente]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditarCliente]
    @ClienteID INT,
    @NombreCompleto VARCHAR(100),
    @Telefono VARCHAR(20) = NULL,
    @CorreoElectronico VARCHAR(100) = NULL,
    @Direccion VARCHAR(255) = NULL,
    @LinkDireccion VARCHAR(255) = NULL,
    @Estado BIT = NULL
AS
BEGIN
    UPDATE [dbo].[Clientes]
    SET
        [NombreCompleto] = @NombreCompleto,
        [Telefono] = @Telefono,
        [CorreoElectronico] = @CorreoElectronico,
        [Direccion] = @Direccion,
        [LinkDireccion] = @LinkDireccion,
        [Estado] = @Estado
    WHERE
        [ClienteID] = @ClienteID;

    -- Verificar si se actualizó algún registro
    IF @@ROWCOUNT = 0
        RAISERROR ('No se encontró el cliente con el ID especificado.', 16, 1);
END;
GO
/****** Object:  StoredProcedure [dbo].[EditarProducto]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditarProducto]
    @InsumoID INT,  -- Nuevo parámetro para identificar el producto
    @NombreInsumo VARCHAR(100),
    @Descripcion TEXT = NULL,
    @PrecioUnitario DECIMAL(10, 2),
    @CantidadEnStock INT,
    @FechaVencimiento DATE = NULL,
    @ProveedorID INT = NULL,
    @Categoria VARCHAR(50) = NULL
AS
BEGIN
    UPDATE [dbo].[InsumosDentales]
    SET 
        [NombreInsumo] = @NombreInsumo,
        [Descripcion] = @Descripcion,
        [PrecioUnitario] = @PrecioUnitario,
        [CantidadEnStock] = @CantidadEnStock,
        [FechaVencimiento] = @FechaVencimiento,
        [ProveedorID] = @ProveedorID,
        [Categoria] = @Categoria
    WHERE [InsumoID] = @InsumoID;

    -- Verificar si la actualización fue exitosa
    IF @@ROWCOUNT = 0
        THROW 50001, 'No se encontró el producto con el ID especificado.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[EditarVenta]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditarVenta]
    @VentaID INT,
    @ClienteID INT,
    @FechaVenta DATETIME,
    @TotalVenta DECIMAL(10, 2),
    @UsuarioID INT
AS
BEGIN
    UPDATE Ventas
    SET ClienteID = @ClienteID,
        FechaVenta = @FechaVenta,
        TotalVenta = @TotalVenta,
        UsuarioID = @UsuarioID
    WHERE VentaID = @VentaID;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarCliente]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarCliente]
    @ClienteID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NombreCompleto VARCHAR(100);
    DECLARE @Telefono VARCHAR(20);
    DECLARE @CorreoElectronico VARCHAR(100);
    DECLARE @Direccion VARCHAR(255);
    DECLARE @LinkDireccion VARCHAR(255);

    -- Obtener información del cliente
    SELECT 
        @NombreCompleto = NombreCompleto,
        @Telefono = Telefono,
        @CorreoElectronico = CorreoElectronico,
        @Direccion = Direccion,
        @LinkDireccion = LinkDireccion
    FROM [dbo].[Clientes]
    WHERE ClienteID = @ClienteID;

    -- Insertar en la tabla de inactivos
    INSERT INTO [dbo].[ClientesInactivos] (
        ClienteID, NombreCompleto, Telefono, 
        CorreoElectronico, Direccion, LinkDireccion
    )
    VALUES (
        @ClienteID, @NombreCompleto, @Telefono, 
        @CorreoElectronico, @Direccion, @LinkDireccion
    );

    -- Eliminar el cliente de la tabla original
    DELETE FROM [dbo].[Clientes]
    WHERE ClienteID = @ClienteID;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarClienteLogico]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarClienteLogico]
    @ClienteID INT
AS
BEGIN
    UPDATE [dbo].[Clientes]
    SET [EstadoID] = 3 -- Estado "Eliminado"
    WHERE [ClienteID] = @ClienteID;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarProducto]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarProducto]
    @InsumoID INT
AS
BEGIN
    -- Verificar si el producto existe antes de eliminarlo
    IF NOT EXISTS (SELECT 1 FROM [dbo].[InsumosDentales] WHERE [InsumoID] = @InsumoID)
    BEGIN
        RAISERROR ('No se encontró el producto con el ID especificado.', 16, 1);
        RETURN;
    END

    -- Eliminar el producto
    DELETE FROM [dbo].[InsumosDentales]
    WHERE [InsumoID] = @InsumoID;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarVenta]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarVenta]
    @VentaID INT
AS
BEGIN
    DELETE FROM Ventas
    WHERE VentaID = @VentaID;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertarCliente]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarCliente]
    @NombreCompleto VARCHAR(100),
    @Telefono VARCHAR(20) = NULL,
    @CorreoElectronico VARCHAR(100) = NULL,
    @Direccion VARCHAR(255) = NULL,
    @LinkDireccion VARCHAR(255) = NULL
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO [dbo].[Clientes] (
            [NombreCompleto],
            [Telefono],
            [CorreoElectronico],
            [Direccion],
            [LinkDireccion],
            [EstadoID]
        )
        VALUES (
            @NombreCompleto,
            @Telefono,
            @CorreoElectronico,
            @Direccion,
            @LinkDireccion,
            1 -- Estado "Activo"
        );

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertarUsuario]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarUsuario]
    @NombreUsuario VARCHAR(50),
    @CorreoElectronico VARCHAR(100),
    @Contrasena VARCHAR(255),
    @RolID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Verificar si el correo ya existe
        IF EXISTS (SELECT 1 FROM [dbo].[Usuarios] WHERE [CorreoElectronico] = @CorreoElectronico)
        BEGIN
            THROW 50001, 'El correo electrónico ya está en uso.', 1;
        END

        -- Insertar el nuevo usuario con la contraseña en texto plano
        -- (La aplicación deberá hashearla con BCrypt antes de enviarla)
        INSERT INTO [dbo].[Usuarios] (
            [NombreUsuario],
            [CorreoElectronico],
            [Contrasena],
            [FechaRegistro],
            [EstadoID],
            [RolID]
        )
        VALUES (
            @NombreUsuario,
            @CorreoElectronico,
            @Contrasena,  -- Ahora recibe el hash BCrypt directamente
            GETDATE(),
            1,
            @RolID
        );
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[MostrarClientes]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarClientes]
AS
BEGIN
    SELECT 
        [ClienteID],
        [NombreCompleto],
        [Telefono],
        [CorreoElectronico],
        [Direccion],
        [LinkDireccion],
        [FechaRegistro],
        CASE 
            WHEN [Estado] = 1 THEN 'Activo'
            ELSE 'Inactivo'
        END AS EstadoCliente
    FROM [dbo].[Clientes]
    WHERE [Estado] = 1 
    ORDER BY [NombreCompleto];
END;
GO
/****** Object:  StoredProcedure [dbo].[MostrarClientesActivos]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarClientesActivos]
AS
BEGIN
    SELECT 
        [ClienteID],
        [NombreCompleto],
        [Telefono],
        [CorreoElectronico],
        [Direccion],
        [LinkDireccion],
        [FechaRegistro]
    FROM [dbo].[Clientes]
    WHERE [EstadoID] = 1 -- Estado "Activo"
    ORDER BY [NombreCompleto];
END;
GO
/****** Object:  StoredProcedure [dbo].[MostrarClientesInactivos]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarClientesInactivos]
AS
BEGIN
    SELECT 
        [ClienteID],
        [NombreCompleto],
        [Telefono],
        [CorreoElectronico],
        [Direccion],
        [LinkDireccion],
        [FechaRegistro]
    FROM [dbo].[Clientes]
    WHERE [EstadoID] = 2 -- Estado "Inactivo"
    ORDER BY [FechaRegistro] DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[MostrarDetalleVenta]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarDetalleVenta]
    @VentaID INT
AS
BEGIN
    SELECT dv.InsumoID, i.NombreInsumo, dv.Cantidad, dv.PrecioUnitario, dv.Total
    FROM DetalleVenta dv
    JOIN InsumosDentales i ON dv.InsumoID = i.InsumoID
    WHERE dv.VentaID = @VentaID;
END;
GO
/****** Object:  StoredProcedure [dbo].[MostrarProductos]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarProductos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        InsumoID,
        NombreInsumo,
        Descripcion,
        PrecioUnitario,
        CantidadEnStock,
        FechaRegistro,
        FechaVencimiento,
        ProveedorID,
        Categoria,
        (PrecioUnitario * CantidadEnStock) AS ValorTotal
    FROM 
        dbo.InsumosDentales;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarVenta]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarVenta]
    @ClienteID int,
    @FechaVenta datetime,
    @Insumos InsumosTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validación de datos
    IF @ClienteID IS NULL OR @ClienteID = 0
        RAISERROR('El ID del cliente no puede ser nulo o cero.', 16, 1);

    BEGIN TRY
        -- Iniciar transacción
        BEGIN TRANSACTION;

        -- Validar stock disponible
        IF EXISTS (
            SELECT 1
            FROM @Insumos i
            INNER JOIN InsumosDentales id ON id.InsumoID = i.InsumoID
            WHERE id.CantidadEnStock < i.Cantidad OR id.CantidadEnStock = 0
        )
        BEGIN
            -- Crear tabla temporal para almacenar los productos sin stock suficiente
            DECLARE @ProductosSinStock TABLE (
                NombreInsumo varchar(100),
                StockDisponible int,
                CantidadSolicitada int
            );

            -- Insertar en la tabla temporal los productos sin stock suficiente
            INSERT INTO @ProductosSinStock
            SELECT 
                id.NombreInsumo,
                id.CantidadEnStock,
                i.Cantidad
            FROM @Insumos i
            INNER JOIN InsumosDentales id ON id.InsumoID = i.InsumoID
            WHERE id.CantidadEnStock < i.Cantidad OR id.CantidadEnStock = 0;

            -- Crear mensaje de error detallado
            DECLARE @ErrorMessage nvarchar(4000) = 'Stock insuficiente para los siguientes productos:' + CHAR(13);
            
            SELECT @ErrorMessage = @ErrorMessage + 
                'Producto: ' + NombreInsumo + 
                ', Stock disponible: ' + CAST(StockDisponible AS varchar) + 
                ', Cantidad solicitada: ' + CAST(CantidadSolicitada AS varchar) + CHAR(13)
            FROM @ProductosSinStock;

            ROLLBACK TRANSACTION;
            THROW 51000, @ErrorMessage, 1;
        END

        DECLARE @VentaID int;
        DECLARE @TotalVenta decimal(10, 2);

        -- Insertar registro en la tabla Ventas
        INSERT INTO Ventas (ClienteID, FechaVenta, TotalVenta)
        VALUES (@ClienteID, @FechaVenta, 0);

        -- Obtener el ID de la venta recién insertada
        SET @VentaID = SCOPE_IDENTITY();

        -- Insertar registros en la tabla DetalleVenta
        INSERT INTO DetalleVenta (VentaID, InsumoID, Cantidad, PrecioUnitario, Total)
        SELECT 
            @VentaID, 
            i.InsumoID, 
            i.Cantidad, 
            i.PrecioUnitario, 
            i.Cantidad * i.PrecioUnitario
        FROM @Insumos i;

        -- Actualizar el total de la venta en la tabla Ventas
        UPDATE v
        SET v.TotalVenta = (SELECT SUM(dv.Total) FROM DetalleVenta dv WHERE dv.VentaID = v.VentaID)
        FROM Ventas v
        WHERE v.VentaID = @VentaID;

        -- Actualizar el stock de los insumos
        UPDATE id
        SET id.CantidadEnStock = id.CantidadEnStock - i.Cantidad
        FROM InsumosDentales id
        INNER JOIN @Insumos i ON id.InsumoID = i.InsumoID;

        -- Verificar productos con stock bajo después de la actualización
        DECLARE @ProductosBajoStock TABLE (
            NombreInsumo varchar(100),
            StockActual int
        );

        INSERT INTO @ProductosBajoStock
        SELECT 
            NombreInsumo,
            CantidadEnStock
        FROM InsumosDentales
        WHERE CantidadEnStock <= 5; -- Puedes ajustar este valor según tus necesidades

        -- Si hay productos con stock bajo, devolver la información
        IF EXISTS (SELECT 1 FROM @ProductosBajoStock)
        BEGIN
            SELECT 'StockBajo' as Tipo, NombreInsumo, StockActual
            FROM @ProductosBajoStock;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMsg nvarchar(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity int = ERROR_SEVERITY();
        DECLARE @ErrorState int = ERROR_STATE();

        RAISERROR(@ErrorMsg, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarVentas]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MostrarVentas]
AS
BEGIN
    SELECT 
        V.VentaID,
        V.ClienteID,
        C.NombreCompleto AS ClienteNombre,
        V.FechaVenta,
        V.TotalVenta,
        V.UsuarioID
    FROM 
        Ventas V
    INNER JOIN 
        Clientes C ON V.ClienteID = C.ClienteID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerNumeroFactura]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para generar número de factura
CREATE PROCEDURE [dbo].[sp_ObtenerNumeroFactura]
    @TipoDocumento VARCHAR(2)
AS
BEGIN
    DECLARE @NumeroFactura VARCHAR(20)
    DECLARE @Serie VARCHAR(10)
    DECLARE @Numero INT
    
    BEGIN TRANSACTION
        SELECT TOP 1 @Serie = Serie, @Numero = NumeroActual 
        FROM SeriesFacturacion 
        WHERE TipoDocumento = @TipoDocumento AND Activa = 1
        
        UPDATE SeriesFacturacion 
        SET NumeroActual = NumeroActual + 1 
        WHERE Serie = @Serie
        
        SET @NumeroFactura = @Serie + '-' + RIGHT('00000000' + CAST(@Numero AS VARCHAR(8)), 8)
    COMMIT
    
    SELECT @NumeroFactura AS NumeroFactura
END
GO
/****** Object:  StoredProcedure [dbo].[ValidarUsuario]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidarUsuario]
    @NombreUsuario VARCHAR(100),
    @Contrasena VARCHAR(100)
AS
BEGIN
    SELECT 
        [UsuarioID],
        [NombreUsuario],
        [CorreoElectronico],
        [RolID]
    FROM [dbo].[Usuarios]
    WHERE [NombreUsuario] = @NombreUsuario
    AND [Contrasena] = HASHBYTES('SHA2_256', @Contrasena);
END;

GO
/****** Object:  StoredProcedure [dbo].[VentasFrecuentes]    Script Date: 22/4/2025 02:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VentasFrecuentes]
    @ClienteID INT
AS
BEGIN
    SELECT COUNT(*) AS NumeroDeVentas
    FROM Ventas
    WHERE ClienteID = @ClienteID;
END;
GO
USE [master]
GO
